.main {
  background-color: white;
  width: 100vw;
  height: 100vh;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  outline: 1px solid blue;
}

.error {
  display: block;
  width: 100%;
  text-align: center;
  min-height: 50px;
  color: red;
  font-size: 16px;
  margin-top: 10px;
}

.welcome {
  text-align: center;
}

.blocked {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}